/* color palette from my Figma design file */
:root {
  --blue-color: #6381FF;
  --pink-color: #E476E4;
  --light-text-color: #DAC6E1;
  --dark-text-color: #161225;
  --white-pink-color: #DAC6E1;
  --background-color-dark: #161225;
  --background-color-light: #ededed;

  
  /* Fonts */
  --heading-serif-font: 'Forum', serif;
  --body-font: 'Montserrat', sans-serif;
  --heading-sans-serif-font: 'Vina Sans';
}

body {
  font-family: var(--body-font);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #ededed;
}

h1, h2, h3{
  font-family: var(--heading-sans-serif-font);
}

h4 {
  font-family: var(--heading-serif-font);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}